<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>学生档案管理系统</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="js/jquery-1.11.1.min.js" ></script>
    <script type="text/javascript" src="js/bootstrap.min.js" ></script>
    <script src="/js/underscore-noflect.js"></script>
</head>
<body>
<% include header.ejs%>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="img/slideShow1.jpg" alt="1">
            <div class="container">
                <div class="carousel-caption">
                    <!--<h1>相关通知</h1>-->
                    <!--<p>Related notice</p>-->
                    <!--<p>-->
                        <!--<a class="btn btn-lg btn-primary" href="message" target="_blank" role="button">点我了解</a>-->
                    <!--</p>-->
                </div>
            </div>
        </div>
        <div class="item">
            <img src="img/slideShow2.jpg" alt="2">
            <div class="container">
                <div class="carousel-caption">
                    <!--<h1>成绩管理</h1>-->
                    <!--<p>Performance management</p>-->
                    <!--<p>-->
                        <!--<a class="btn btn-lg btn-primary" href="table" target="_blank" role="button">点我了解</a>-->
                    <!--</p>-->
                </div>
            </div>
        </div>
        <div class="item">
            <img src="img/slideShow3.jpg" alt="3">
            <div class="container">
                <div class="carousel-caption">
                    <!--<h1>资料管理</h1>-->
                    <!--<p>Data management</p>-->
                    <!--<p>-->
                        <!--<a class="btn btn-lg btn-primary" href="search" target="_blank" role="button">点我了解</a>-->
                    <!--</p>-->
                </div>
            </div>
        </div>
        <div class="item">
            <img src="img/slideShow4.jpg" alt="4">
            <div class="container">
                <div class="carousel-caption">
                    <!--<h1>课程管理</h1>-->
                    <!--<p>Course management</p>-->
                    <!--<p>-->
                        <!--<a class="btn btn-lg btn-primary" href="taskArea" role="button">点我了解</a>-->
                    <!--</p>-->
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<%
if(login){
%>
<!--主要内容-->
<div class="container summary">
    <div class="task-area-title">
        <img class="info-img" src="img/info.png" />
        新消息发布啦~
    </div>
    <hr class="divider" />
    <div class="row">
        <div class="col-md-3 task-area">
            <img src="img/lesson.png" class="img-circle" alt="teacher-head-img" />
            <h2>相关通知</h2>
            <div class="">
                <p>学生：<%= username%></p>
                <p>相关通知记录</p>
            </div>
            <p class="task-enter-btn">
                <a class="btn btn-danger" href="message" role="button">点击进入</a>
            </p>
        </div>
        <div class="col-md-3 task-area">
            <img src="img/table.png" class="img-circle" alt="chrome" />
            <h2>成绩查询</h2>
            <div class="">
                <p>学生：<%= username %></p>
                <p>相关成绩查询</p>
            </div>
            <p class="task-enter-btn">
                <a class="btn btn-danger" href="table" role="button">点击进入</a>
            </p>
        </div>
        <div class="col-md-3 task-area">
            <img src="img/resource.png" class="img-circle" alt="chrome" />
            <h2>档案信息管理</h2>
            <div class="">
                <p>学生：<%=username%></p>
                <p>个人档案信息管理</p>
            </div>
            <p class="task-enter-btn">
                <a class="btn btn-danger" href="userInfo" role="button">点击进入</a>
            </p>
        </div>
        <div class="col-md-3 task-area">
            <img src="img/class.png" alt="chrome" class="img-circle" />
            <h2>课程查询</h2>
            <div class="">
                <p>学生：<%=username%></p>
                <p>相关课程查询</p>
            </div>
            <p class="task-enter-btn">
                <a class="btn btn-danger" href="taskArea" role="button">点击进入</a>
            </p>
        </div>
    </div>
    <hr class="divider" />
</div>
<%
}else{
%>
<link rel="stylesheet" href="css/websiteIndex.css" />
<div class="unLogin">
    <div class="container">
        <div class="row">
            <!--校园新闻 -->
            <div class="col-sm-12 col-md-8">
                <div class="row">
                    <div class="col-sm-12" >
                        <div class="index-news-header-focus">
                            <h4 class="newstitle"><a href="http://news.gzcc.cn/html/xiaoyuanxinwen/" target="_blank">校园新闻</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">

                        <a href="http://news.gzcc.cn/html/2018/xiaoyuanxinwen_0117/8969.html"  title="学校举行新晋副校长聘任仪式" target="_blank">
                            <img src="http://oa.gzcc.cn/uploadfile/2018/0119/20180119093520789.jpg" class="index-news-thumb-focus">
                            <div class="gray"  style="" >
                                学校举行新晋副校长聘任仪式                            </div>
                            <div class="gray-description">　　1月17日，我校举行新晋副校长聘任仪式，聘请孙云同志为常务副校长，张忠福、黄耀明...                            </div>
                        </a>

                        <div class="index-smallLine">&nbsp;</div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="index-news-thumb-focus">
                            <!--一条新闻 -->



                            <div class="fleft index-smallThumb">
                                <a href="http://news.gzcc.cn/html/2018/xiaoyuanxinwen_0118/8973.html" title="我校获评“优秀志愿服务组织单位”" target="_blank"><img src="http://oa.gzcc.cn/uploadfile/2018/0119/20180119095416240.jpg"></a>
                            </div>
                            <div class="fleft index-smallNull">&nbsp;</div>
                            <div class="fleft index-smallTitle">
                                <a href="http://news.gzcc.cn/html/2018/xiaoyuanxinwen_0118/8973.html" title="我校获评“优秀志愿服务组织单位”" target="_blank">
                                    <div class="smallgray"  style="" >
                                        我校获评“优秀志愿服务组织单位”                                </div>
                                    <div class="smallgray-description">　　近日，广州市黄埔区团委书记送来牌匾，我校获评2017年区“优秀志愿服务组织单位”。                                </div>
                                </a>
                            </div>
                            <div class="index-smallLine">&nbsp;</div>


                            <div class="fleft index-smallThumb">
                                <a href="http://news.gzcc.cn/html/2018/xiaoyuanxinwen_0118/8972.html" title="我校在广东高校“两学一做”支部风采展示活动中喜获佳绩" target="_blank"><img src="http://oa.gzcc.cn/uploadfile/2018/0118/thumb_685_450_20180118114340829.jpg"></a>
                            </div>
                            <div class="fleft index-smallNull">&nbsp;</div>
                            <div class="fleft index-smallTitle">
                                <a href="http://news.gzcc.cn/html/2018/xiaoyuanxinwen_0118/8972.html" title="我校在广东高校“两学一做”支部风采展示活动中喜获佳绩" target="_blank">
                                    <div class="smallgray"  style="" >
                                        我校在广东高校“两学一做”支部风采展示活动中喜获佳绩                                </div>
                                    <div class="smallgray-description">　　我校外国语学院2014级学生党支部&ldquo;党旗引领青春， 创新助力成长&rdquo;获得全省高校&ldquo;两学一...                                </div>
                                </a>
                            </div>
                            <div class="index-smallLine">&nbsp;</div>


                            <div class="fleft index-smallThumb">
                                <a href="http://news.gzcc.cn/html/2018/xiaoyuanxinwen_0118/8971.html" title="我校召开2017年度直属党支部书记抓基层党建工作现场述职评议会" target="_blank"><img src="http://oa.gzcc.cn/uploadfile/2018/0118/thumb_685_450_20180118111927617.jpg"></a>
                            </div>
                            <div class="fleft index-smallNull">&nbsp;</div>
                            <div class="fleft index-smallTitle">
                                <a href="http://news.gzcc.cn/html/2018/xiaoyuanxinwen_0118/8971.html" title="我校召开2017年度直属党支部书记抓基层党建工作现场述职评议会" target="_blank">
                                    <div class="smallgray"  style="" >
                                        我校召开2017年度直属党支部书记抓基层党建工作现场述职评议会                                </div>
                                    <div class="smallgray-description">　　1月15日下午，我校党委在第一行政楼401室召开2017年度直属党支部书记抓基层党建工作现场...                                </div>
                                </a>
                            </div>
                            <div class="index-smallLine">&nbsp;</div>
                            <!--一条新闻结束 -->


                        </div>
                    </div>
                </div>
            </div>
            <!--校园新闻结束 -->
            <!--媒体视界 -->
            <div class="col-sm-12 col-md-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="index-news-header-focus">
                            <h4 class="newstitle"><a href="http://news.gzcc.cn/html/meitishijie/">媒体视界</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="index-news-thumb-focus">
                            <!--一条新闻 -->

                            <div class="fleft index-smallThumb">
                                <a href="http://news.gzcc.cn/html/2018/meitishijie_0115/8956.html" title="广商学生荣获知识产权线上、线下知识竞赛第一名" target="_blank"><img src="http://oa.gzcc.cn/uploadfile/2018/0106/20180106092109123.jpg"></a>
                            </div>
                            <div class="fleft index-smallNull">&nbsp;</div>
                            <div class="fleft index-smallTitle">
                                <a href="http://news.gzcc.cn/html/2018/meitishijie_0115/8956.html" title="广商学生荣获知识产权线上、线下知识竞赛第一名" target="_blank">
                                    <div class="smallgray"  style="" >
                                        广商学生荣获知识产权线上、线下知识竞赛第一名                                </div>
                                    <div class="smallgray-description">　　广商学子喜获广州大学生知识产权线上知识竞赛第一名，线下初赛第一名，总决赛第二名。                                </div>
                                </a>
                            </div>
                            <div class="index-smallLine">&nbsp;</div>

                            <div class="fleft index-smallThumb">
                                <a href="http://news.gzcc.cn/html/2018/meitishijie_0109/8944.html" title="广商喜获首届全国跨境电商技能竞赛特等奖" target="_blank"><img src="http://oa.gzcc.cn/uploadfile/2018/0109/20180109105632280.jpg"></a>
                            </div>
                            <div class="fleft index-smallNull">&nbsp;</div>
                            <div class="fleft index-smallTitle">
                                <a href="http://news.gzcc.cn/html/2018/meitishijie_0109/8944.html" title="广商喜获首届全国跨境电商技能竞赛特等奖" target="_blank">
                                    <div class="smallgray"  style="" >
                                        广商喜获首届全国跨境电商技能竞赛特等奖                                </div>
                                    <div class="smallgray-description">　　日前，广商学子在第一届全国跨境电子商务技能竞赛全国总决赛喜获“特等奖”。                                </div>
                                </a>
                            </div>
                            <div class="index-smallLine">&nbsp;</div>

                            <div class="fleft index-smallThumb">
                                <a href="http://news.gzcc.cn/html/2018/meitishijie_0102/8892.html" title="广商首获广东大学生数学建模竞赛一等奖" target="_blank"><img src="http://oa.gzcc.cn/uploadfile/2018/0102/thumb_685_450_20180102111402588.jpg"></a>
                            </div>
                            <div class="fleft index-smallNull">&nbsp;</div>
                            <div class="fleft index-smallTitle">
                                <a href="http://news.gzcc.cn/html/2018/meitishijie_0102/8892.html" title="广商首获广东大学生数学建模竞赛一等奖" target="_blank">
                                    <div class="smallgray"  style="" >
                                        广商首获广东大学生数学建模竞赛一等奖                                </div>
                                    <div class="smallgray-description">　　近日，广商学子在2017年全国大学生数学建模竞赛广东省分赛中喜获一等奖等15奖项。                                </div>
                                </a>
                            </div>
                            <div class="index-smallLine">&nbsp;</div>


                            <!--一条新闻结束 -->



                        </div>
                    </div>
                </div>
            </div>
            <!--媒体视界结束 -->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!--教学科研 -->
            <div class="col-sm-12 col-md-4">
                <div class="index-normalNews-header-focus">
                    <h4 class="normalNewstitle"><a href="http://news.gzcc.cn/html/jxky/" target="_blank">教学科研</a></h4>
                </div>
                <ul class="index-normalList">

                    <li><a href="http://news.gzcc.cn/html/2018/jxky_0119/8976.html" title="我校获批2项广东省哲学社会科学“十三五”规划2017年度学科共建项目立项" target="_blank"  style="" >我校获批2项广东省哲学社会科学“十三五”规划2017年度学科共建项目立项</a></li>

                    <li><a href="http://news.gzcc.cn/html/2018/jxky_0119/8975.html" title="凝心聚力抓评建，夯实根基见实效——评建与督导办公室召开2017年工作总结会" target="_blank"  style="" >凝心聚力抓评建，夯实根基见实效——评建与督导办公室召开2017年工作总结会</a></li>

                    <li><a href="http://news.gzcc.cn/html/2018/jxky_0117/8967.html" title="【海外课堂体验】让世界成为我们的课堂——国际学院学生参加阿德莱德体验课堂活动" target="_blank"  style="" >【海外课堂体验】让世界成为我们的课堂——国际学院学生参加阿德莱德体验课堂活动</a></li>

                    <li><a href="http://news.gzcc.cn/html/2018/xiaoyuanxinwen_0116/8964.html" title="公共体育部赴岭南师范学院、湛江少林学校学习交流" target="_blank"  style="" >公共体育部赴岭南师范学院、湛江少林学校学习交流</a></li>

                    <li><a href="http://news.gzcc.cn/html/2018/jxky_0116/8963.html" title="我校又1项党建研究课题通过广东省高校党建研究会评审结项" target="_blank"  style="" >我校又1项党建研究课题通过广东省高校党建研究会评审结项</a></li>

                    <li><a href="http://news.gzcc.cn/html/2018/jxky_0116/8961.html" title="旅游学院教师应邀参加2017年度旅行社行业颁奖盛典" target="_blank"  style="" >旅游学院教师应邀参加2017年度旅行社行业颁奖盛典</a></li>

                </ul>
            </div>
            <!--教学科研结束 -->
            <!--校园速递 -->
            <div class="col-sm-12 col-md-4">
                <div class="index-normalNews-header-focus">
                    <h4 class="normalNewstitle"><a href="http://news.gzcc.cn/html/xibusudi/" target="_blank">校园速递</a></h4>
                </div>
                <ul class="index-normalList">

                    <li><a href="http://news.gzcc.cn/html/2018/xibusudi_0123/8977.html" title="深化校企合作，强化学生专业实习" target="_blank"  style="" >深化校企合作，强化学生专业实习</a></li>

                    <li><a href="http://news.gzcc.cn/html/2018/xibusudi_0117/8968.html" title="我校组织开展节假日前安全大检查活动" target="_blank"  style="" >我校组织开展节假日前安全大检查活动</a></li>

                    <li><a href="http://news.gzcc.cn/html/2018/xibusudi_0115/8965.html" title="艺术设计学院开展师生党员外出考察学习教育活动" target="_blank"  style="" >艺术设计学院开展师生党员外出考察学习教育活动</a></li>

                    <li><a href="http://news.gzcc.cn/html/2018/xibusudi_0115/8960.html" title="我校慰问家庭经济困难学生党员" target="_blank"  style="" >我校慰问家庭经济困难学生党员</a></li>

                    <li><a href="http://news.gzcc.cn/html/2018/xibusudi_0115/8959.html" title="总结过去　谋划未来——国际学院召开期末总结暨表彰大会" target="_blank"  style="" >总结过去　谋划未来——国际学院召开期末总结暨表彰大会</a></li>

                    <li><a href="http://news.gzcc.cn/html/2018/xibusudi_0115/8962.html" title="党支部书记述职，党建工作迎来“期末考”——法学院党召开总支支部书记述职大会" target="_blank"  style="" >党支部书记述职，党建工作迎来“期末考”——法学院党召开总支支部书记述职大会</a></li>

                </ul>
            </div>
            <!--校园速递结束 -->
            <!--通知公告 -->
            <div class="col-sm-12 col-md-4">
                <div class="index-normalNews-header-focus">
                    <h4 class="normalNewstitle"><a href="http://news.gzcc.cn/html/tongzhigonggao/" target="_blank">通知公告</a></h4>
                </div>
                <ul class="index-normalList">

                    <li><a href="http://news.gzcc.cn/html/2018/tongzhigonggao_0118/8974.html" title="广州商学院博士后创新实践基地博士后招生公告" target="_blank"  style="" >广州商学院博士后创新实践基地博士后招生公告</a></li>

                    <li><a href="http://news.gzcc.cn/html/2018/tongzhigonggao_0118/8970.html" title="关于加强寒假期间安全管理工作的通知" target="_blank"  style="" >关于加强寒假期间安全管理工作的通知</a></li>

                    <li><a href="http://news.gzcc.cn/html/2018/tongzhigonggao_0103/8901.html" title="剑桥商务英语（BEC）广州商学院分考点2018年上半年报名通知" target="_blank"  style="" >剑桥商务英语（BEC）广州商学院分考点2018年上半年报名通知</a></li>

                    <li><a href="http://news.gzcc.cn/html/2018/tongzhigonggao_0103/8900.html" title="关于2018年寒假放假的通知" target="_blank"  style="" >关于2018年寒假放假的通知</a></li>

                    <li><a href="http://news.gzcc.cn/html/2017/tongzhigonggao_1213/8779.html" title="关于2018年元旦放假的通知" target="_blank"  style="" >关于2018年元旦放假的通知</a></li>

                    <li><a href="http://zsb.gzcc.cn/html/2017/benkechabansheng_1201/1465.html" title="广州商学院2018年本科插班生招生简章" target="_blank"  style="" >广州商学院2018年本科插班生招生简章</a></li>

                </ul>
            </div>
            <!--通知公告结束 -->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="fright"><h5><a href="http://news.gzcc.cn" target="_blank">进入新闻网&nbsp;<i class="fa fa-chevron-circle-right"></i></a></h5></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="index-normalNews-header-focus">
                    <h4 class="normalNewstitle">用户导航</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="index-yhdh">
                    <a href="http://www.gzcc.cn/html/xueyuanrongyu/"><img src="http://www.gzcc.cn/2016/images/yhdh/01.jpg"></a>
                    <div class="index-yhdh-bottom-bg yhdhbg1"></div>
                    <div class="index-yhdh-bottom-title"><a href="http://www.gzcc.cn/html/xueyuanrongyu/">学校荣誉</a></div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="index-yhdh">
                    <a href="http://www.gzcc.cn/html/banxuechengguo/"><img src="http://www.gzcc.cn/2016/images/yhdh/02.jpg"></a>
                    <div class="index-yhdh-bottom-bg yhdhbg2"></div>
                    <div class="index-yhdh-bottom-title"><a href="http://www.gzcc.cn/html/banxuechengguo/">师生获奖</a></div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="index-yhdh">
                    <a href="http://www.gzcc.cn/html/xygk/ldgh/"><img src="http://www.gzcc.cn/2016/images/yhdh/03.jpg"></a>
                    <div class="index-yhdh-bottom-bg yhdhbg3"></div>
                    <div class="index-yhdh-bottom-title"><a href="http://www.gzcc.cn/html/xygk/ldgh/">领导关怀</a></div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="index-yhdh">
                    <a href="http://i.gzcc.cn" target="_blank"><img src="http://www.gzcc.cn/2016/images/yhdh/08.jpg"></a>
                    <div class="index-yhdh-bottom-bg yhdhbg8"></div>
                    <div class="index-yhdh-bottom-title"><a href="http://i.gzcc.cn" target="_blank">数字广商</a></div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="index-yhdh">
                    <a href="http://www.gzcc.cn/html/xygk/xiaoyuanfengguang/"><img src="http://www.gzcc.cn/2016/images/yhdh/05.jpg"></a>
                    <div class="index-yhdh-bottom-bg yhdhbg5"></div>
                    <div class="index-yhdh-bottom-title"><a href="http://www.gzcc.cn/html/xygk/xiaoyuanfengguang/">画说校园</a></div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="index-yhdh">
                    <a href="http://www.gzcc.cn/html/shipinxiaoyuan/"><img src="http://www.gzcc.cn/2016/images/yhdh/06.jpg"></a>
                    <div class="index-yhdh-bottom-bg yhdhbg6"></div>
                    <div class="index-yhdh-bottom-title"><a href="http://www.gzcc.cn/html/shipinxiaoyuan/">视频校园</a></div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="index-yhdh">
                    <a href="http://www.gzcc.cn/quanjingxiaoyuan/tour.html"><img src="http://www.gzcc.cn/2016/images/yhdh/07.jpg"></a>
                    <div class="index-yhdh-bottom-bg yhdhbg7"></div>
                    <div class="index-yhdh-bottom-title"><a href="http://www.gzcc.cn/quanjingxiaoyuan/tour.html">全景校园</a></div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="index-yhdh">
                    <a href="http://www.gzcc.cn/html/xiaoyoufengcai/"><img src="http://www.gzcc.cn/2016/images/yhdh/04.jpg"></a>
                    <div class="index-yhdh-bottom-bg yhdhbg4"></div>
                    <div class="index-yhdh-bottom-title"><a href="http://www.gzcc.cn/html/xiaoyoufengcai/">校友风采</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%
}
%>
<% include footer.ejs%>
<script type="text/template" id="lessonTemplate">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="{{=lessonImg}}" alt="...">
            <div class="caption">
                <h3>{{=lessonTitle}}</h3>
                <span class="glyphicon glyphicon-stats"></span><strong>{{=lessonLevel}}</strong>
                <span class="glyphicon glyphicon-adjust"></span><strong>{{=lessonPopulation}}</strong>
                <p class="lesson-detail">{{=lessonDetail}}</p>
                <a href="{{=lessonPath}}" class="btn btn-primary" role="button" >进入学习</a>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
    var $lessonArea=$("#lessonArea");
    var $lessonArea2=$("#lessonArea2");
    var $lessonArea3=$("#lessonArea3");
    //得到模板函数
    var compiled=_.template($("#lessonTemplate").html());

    //ajax服务，获取信息
    $.ajax({
        "url":"/js/data/lessonArea1.json",
        "type":"get",
        "success":function (result) {
            //result是一个数组
//                console.log(Array.isArray(result));
//				console.log(result);
            iterator(0);
            //迭代器
            //这里防止ajax异步，必须使用迭代器
            function iterator(i) {
                if (i == result.length) {
                    //在这里书写请求完毕之后做的事情
                    return;  //不用继续迭代了
                }
                console.log(result[i]);
                //组装模板
                var htmlstring = compiled(result[i]);
                //添加DOM
                $("#lessonArea").append($(htmlstring));
                iterator(i + 1);
            }
        }
    })
    $.ajax({
        "url":"/js/data/lessonArea2.json",
        "type":"get",
        "success":function (result) {
            //result是一个数组
//                console.log(Array.isArray(result));
//				console.log(result);
            iterator(0);
            //迭代器
            //这里防止ajax异步，必须使用迭代器
            function iterator(i) {
                if (i == result.length) {
                    //在这里书写请求完毕之后做的事情
                    return;  //不用继续迭代了
                }
                console.log(result[i]);
                //组装模板
                var htmlstring = compiled(result[i]);
                //添加DOM
                $("#lessonArea2").append($(htmlstring));
                iterator(i + 1);
            }
        }
    })
    $.ajax({
        "url":"/js/data/lessonArea3.json",
        "type":"get",
        "success":function (result) {
            //result是一个数组
//                console.log(Array.isArray(result));
//				console.log(result);
            iterator(0);
            //迭代器
            //这里防止ajax异步，必须使用迭代器
            function iterator(i) {
                if (i == result.length) {
                    //在这里书写请求完毕之后做的事情
                    return;  //不用继续迭代了
                }
//                console.log(result[i]);
                //组装模板
                var htmlstring = compiled(result[i]);
                //添加DOM
                $("#lessonArea3").append($(htmlstring));
                iterator(i + 1);
            }
        }
    })
</script>
</body>
</html>
